// COLORS
$primary-color: #303F9F;
$secondary-color: #3F51B5;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #607D8B;

$dark-blue-text: #212121; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
